body { 
    background: #eee;
    margin-top: 60px; 
    /* font-family: Helvetica Neue, Helvetica, Arial, "hiragino kaku gothic pro",meiryo,"ms pgothic",sans-serif; */
    -webkit-font-smoothing: subpixel-antialiased
}

.view-container {
    /* margin-right: 200px; */
    float: left;
}

.main {
    width: 600px !important;
    position: relative;
}

#progress {
    width: 65px;
    height: 65px;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    display: none;
}

#sidebar-container {
    width: 300px;
    left: 600px;
    position: absolute;
    display: none;
    /* float: right; */
    /* background-color: #0f0; */
}

.sidebar-content {
    margin: 0 10px 0;
    /* background-color: #00f */
}

.templates { display: none;}
.inline-list {
  margin-bottom: 0px; /* Skeleton rest */
}
.inline-list li {
  display: inline;
  margin: 0 20px 0 0;
}


.hover-links a { 
  text-decoration: none;
}
.hover-links a:hover {
  text-decoration: underline;
}
.nav-container {
  padding-left: 40px;
  
  /* background: #666; */
  background: linear-gradient(to right, rgb(73, 18, 16), rgb(243, 145, 48));
}
.nav-container a { 
  color: white;
}
.text-lg {
  font-size: 32px;
}

.createdAt {
    font-size: 12px;
}

.createdAt::before {
    content: '更新日時:';
}

.imageContainer {
    padding-top: 10px;
}
.scaledImage {
    height: auto;
    min-height: initial;
    width: 100%;
}

/* Material Design Component */
:root {
  --mdc-theme-primary: #af4805;
}

@media only screen and (max-width: 979px) {
    
    Html{
        Width:100%;
    }

    .main {
        width: 100% !important;
    }
    #sidebar-container {
        /* width: 200px; */
        width: 100%;
        position: static;
        
    }


    .view-container {
        /* margin-right: 200px; */
        float: none;
    }

    
} /*デバイスの横幅が979px以下の場合*/

@media only screen and (min-width: 321px) and (max-width: 768px) {
    
   Html{
       Width:100%;
   }

   body {
    /* font-size: 20px; */
   }

   .main {
        width: 100% !important;
    }

} /*デバイスの横幅が321以上768以下の場合*/

@media only screen and (max-width: 320px) {
    
   header{
       Width:90%;
   }

   .main {
        width: 100% !important;
    }

} /* デバイスの横幅が320px以下の場合 */